<!DOCTYPE html>
<html lang="pt-br">

<head>
 <meta charset="utf-8" />
 <meta name="viewport" content="width=device-width, initial-scale=1" />
 <title>Painel IFMS</title>
 <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css') }}" />
 <link rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css') }}" />
 <link rel="stylesheet" href="{{ url_for('static', filename='css/painel_exibicao.css') }}" />
 <script src="{{ url_for('static', filename='js/painel_exibicao.js') }}" defer></script>
</head>

<body>
 <div class="layout-container">
  <aside>
   <div class="has-text-centered mb-5">
    <div class="logo-box logo-ifms">
     <img src="{{ url_for('static', filename='img/ifms-tl-vertical-dark.png') }}" alt="Logo IFMS" />
    </div>
   </div>

      <div id="clima" class="has-text-centered mb-4">
    <p id="temperatura" class="temperatura-grande">--°C</p>
    <div class="mt-1">
     <i id="icone-clima" class="fas fa-cloud-sun fa-lg" style="color: white;"></i>
    </div>
    <p id="descricao" class="descricao-clima">Carregando clima...</p>
   </div>

 <div class="mb-5">
    <p><i class="fas fa-school mr-2"></i> IFMS - Três Lagoas</p>
    <p><i class="fas fa-map-marker-alt mr-2"></i> R. Ângelo Melão, 790</p>
    <p><i class="fas fa-map-marker-alt mr-2"></i> 79641-162</p>
   </div>
  </aside>

  <main class="is-flex is-flex-direction-column is-align-items-center is-justify-content-start has-background-white py-4 px-2">
   <div class="is-flex is-align-items-center mb-4">
    <p id="clock" class="clock-time">--:--</p>
   </div>

      <div id="carousel-content-area" class="content-area">
       </div>
  </main>
 </div>
</body>
</html>